
body {
    font-family: 'Poppins', sans-serif
}
h1 {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
h3 {
    font-family: 'Oswald', sans-serif;
}
/* Header section */
.header {
}
.header-nav {
}
.header-logo {
}
.header-logo-accent {
    font-family: 'Oswald', sans-serif;
}
.header-logo-img {
}
.header-list {
}
.header-item {
}
.header-link {
}
.header-socials {
}
.header-socials .socials-icon {
    color: black;
}
.footer-socials .socials-icon {
    color: white;
}
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}


.footer {
}
.logo {
}
.logo-dark {
    color: black;
}
.logo-light {
    color: white;
}