/*Base styles*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #fafafa;
}
/* Default values */
/* font-size: 16px; 
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white; */

ul,
ol {
  list-style-type: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

/* Reset styles  */

/* Common style Спільні стилі у більшості елементів */
.ingridients-title, 
.made-title,
.products-title,
.bestsellers-title, 
.reviews-title {
  font-size: 24px;;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.accent {
  color: #FD9222 ;
}
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Header section */
.header {
}
.header-nav {
}
.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
}
.header-logo-accent {
  font-style: italic;
}
.header-logo-img {
}
.header-list {
}
.header-item {
}
.header-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; 
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: #FD9222;
}
.header-socials {
}
.header-socials .socials-icon {
  color: black;
}
.footer-socials .socials-icon {
  color: white;
}

/* Hero section */
.hero {
  background: rgba(17, 17, 17, 0.7);
}
.hero-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #FFF;
}
.hero-list {
}
.hero-item {
}
.hero-btn {
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
  background-color: #fd9222;
}
.hero-scroll {
}

/* Feature section */
.features {
  background-color: #1e1823;
}
.features-list {
}
.features-item {
}
.features-caption {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: #FFF;
}
.features-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.70);
}

/* Ingridients section */
.ingred-icon {
}

/* Made section */
.made {
}
.made-title {
}
.made-img {
}
.made-right-side {
  background-color: #fff;
}
.made-subtitle {
}
.made-list {
}
.made-item {
}

/* Footer section */
.footer {
  background-color: #1e1823;
}
.footer-socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}
.contact {
}
.contact-link {
}
.bottom-link {
}
.active {
}