/*Base section*/
body {
    font-family: 'Poppins', sans-serif;
    color: #111;
    background-color:j #FAFAFA; 
}
h1 {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
h3 {
    font-family: 'Oswald', sans-serif;
}
/* Header section */
/* 0100 */
#header {
    background-color: azure;
}
/* 0010 */
.header {
    background-color: bisque;
}
/* 0001 */
header {
    background-color: #FD9222;
}

.header-nav {
}
.header-logo {
}
.header-logo-accent {
    font-family: 'Oswald', sans-serif;
}
.header-logo-img {
}
.header-list {
}
.header-item {
}
.header-link {
}
.header-socials {
}
.header-socials .socials-icon {
    color: black;
}
.footer-socials .socials-icon {
    color: white;
}
.socials {
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* Hero section */
h1 {
    color: rgb(24, 69, 55);
}
h1:hover {
    color: rgb(171, 73, 124);
}
h1:active {
    color: rgb(166, 180, 166);
}
.header-link:focus {
    color: rgb(229, 92, 161);
}

button {
    color: #FFFFFF;
    background-color: #FD9222;
}
button:hover,
button:focus {
    color: #FD9222;
    background-color: #FCF1E0;
}
