/*Base styles*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #fafafa;
}
/* Default values */
/* font-size: 16px; 
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white; */

/* Reset styles  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
}
/* Common style Спільні стилі у більшості елементів */
.section {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  width: 1168px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
.ingridients-title,
.made-title,
.products-title,
.bestsellers-title,
.reviews-title {
  width: 412px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
.accent {
  color: #fd9222;
}
.socials {
  display: flex;
}
.socials-item {
  margin-right: 14px;
}
.socials-item:last-child {
  margin: 0;
}
.socials-link {
}
.socials-icon {
}

/* Header section */
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  margin-right: 365px;
}
.header-logo-accent {
  font-style: italic;
}
.header-logo-img {
  margin-left: 4px;
}
.header-list {
  display: flex;
}
.header-item {
  margin-right: 24px;
}
.header-list:last-child {
  margin: 0;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-link:hover,
.header-link:focus {
  color: #fd9222;
}
.header-socials {
  display: flex;
}
.header-socials .header-socials .socials-icon {
  color: black;
}
.footer-socials .socials-icon {
  color: white;
}

/* Hero section */
.hero {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #fff;
  padding-bottom: 80px;
}
.hero-container {
  background-color: rgba(17, 17, 17, 0.7);
  padding: 40px;
  padding-top: 381px;
  border-radius: 30px;
}
.hero-title {
  width: 484px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}
.hero-wrapper {
  display: flex;
  justify-content: space-between;
}
.hero-list {
display: flex;
gap: 14px;
}
.hero-item {
}
.hero-btn {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid transparent;
}
.hero-btn.primary {
  background-color: #fd9222;
}
.hero-btn.primary:hover,
.hero-btn.primary:focus {
  color: #fd9222;
  background-color: #FCF1E0;
}
.hero-btn.secondary {
  background-color: inherit;
  border-color: #fff;
}
.hero-btn.secondary:hover,
.hero-btn.secondary:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.hero-scroll {
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: initial;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}
.hero-scroll:hover,
.hero-scroll:focus {
  color: #fd9222;
}
.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
}

/* Feature section */
.features {
  background-color: #1e1823;
  padding: 50px 0px;
}
.features-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.features-item {
  width: 308px;
}
.features-caption {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  color: #fff;
}
.features-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* Ingridients section */
.ingridients {
  padding-top: 120px;
}
.ingridients-title {
}
.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingridients-item {
  width: calc(100% - 32px * 3) / 4;
  width: 260px;
  padding: 28px 23px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid transparent;
}
.ingridients-item:nth-child(4n+1) {
  background-color: #fd9222;
}
.ingridients-item:nth-child(4n+2) {
  background-color: #fff;
}
.ingridients-item:nth-child(4n+3) {
  background-color: #1E1823;
}
.ingridients-item:nth-child(even) {
  border-color: #FD9222;
}
.ingred-icon {
}
.ingridients-caption {
  margin-top: 36px;
}
/* Made section */
.made {
}
.made-title {
}
.made-img {
}
.made-right-side {
  background-color: #fff;
}
.made-subtitle {
}
.made-list {
}
.made-item {
}

/* Footer section */
.footer {
  background-color: #1e1823;
  color: #fff;
}
.footer-slogan {
}
.footer-caption {
}
.footer-socials {
  display: flex;
  gap: 30px;
}
.footer-socials-item {
  margin-right: 14px;
}
.footer-socials-item:last-child {
  margin: 0;
}
.footer-socials-link {
}
.footer-socials-icon {
}
.contact {
}
.contact-link {
}
.bottom-link {
}
.active {
}
